<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26228" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.15.0" version="15.0.26228" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.0.26228" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6071" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.0.26228" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.0.26228" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Text.UI" version="15.0.26228" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading" version="15.0.240" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
</packages>
